.DS_Store
node_modules/
*.log
haters/
.idea/
/08 - Fun with HTML5 Canvas/index-Rays.html
/08 - Fun with HTML5 Canvas/index-Slinkys.html
index-START.html
/08 - Fun with HTML5 Canvas/index-WORKING copy.html
/08 - Fun with HTML5 Canvas/index-START.html
